<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>footer</title>
</head>
<body>
    <div class="footer">
        <div class="nav_footer">
            <a href="#">About</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</body>
</html>